<h1>Géneros</h1>
<a href="{% url 'genre-create' %}">Crear Género</a>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Operaciones</th>
        </tr>
    </thead>
{% for genre in object_list %}
    <tr>
        <td><a href="{% url 'genre-detail'  genre.id %}">{{ genre.name }}</a>
        </td>
        <td>
            <a href="{% url 'genre-detail'  genre.id %}">Detalle</a>&nbsp;
            <a href="{% url 'genre-update-form'  genre.id %}">Editar</a>&nbsp;
            <a href="{% url 'genre-delete'  genre.id %}">Borrar</a>
        </td>
    </tr>
{% empty %}
    <td colspan="2">No hay Géneros todavía</td>
{% endfor %}
</table>

